html, body
  height 100%
  width 100%
  font-size 16px

body
  font-family Verdana, Arial, Helvetica, sans-serif

.page-wrapper,
.main-content-wrapper
  min-height 100%
  min-width 100%
  background-color $ui-color-3
  display block

.news
  padding 15px
  background-color $ui-color-0

@media (min-width 576px)
  .page-wrapper,
  .main-content-wrapper
    padding 20px

  .news
    padding 15px 30px 0
    box-shadow 0px 0px 50px 0px rgba(0,0,0,0.5)

@media (min-width 768px)
  .news
    margin 0 auto
    padding-right 20px
    max-width 992px
