@import './variables.styl'

.news-item
  margin 15px 0 0
  font-size 14px
  background-color $ui-color-0

  &:hover
    opacity 0.7
    cursor pointer

  .title
    margin-bottom 3px
    position relative

    &-caption
      margin 0
      padding-right 75px
      position relative
      font-size 1em
      color $ui-color-2
      font-weight 600
      text-transform capitalize
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    time
      position absolute
      right 0
      bottom 0
      font-weight 500
      font-size 0.8em
      color $ui-color-1
      display block

  &__content
    margin 0
    border-bottom 1px solid $ui-border

    img
      max-width 100%
      height auto
      border 1px solid $ui-color-2
      display block

    &-text
      margin-top 5px
      margin-bottom 15px
      font-size 0.9em

@media (min-width 576px)
  .news-item
    width 50%
    float left

    &__content-text
      width 100%
      min-height 70px
      line-height 1.25
      overflow hidden

    &:nth-child(2n)
      padding-left 5px

    &:nth-child(2n+1)
      padding-right 5px
      clear left

@media (min-width 768px)
  .news-item
    width 33.33%
    padding-right 10px
    float left

    &__content-text
      min-height 80px

    &:nth-child(2n)
      padding-left 0
      padding-right 10px

    &:nth-child(2n+1)
      padding-right 10px
      clear none
